@font-face {
  font-family: 'GodOfWar';
  src: url('../assets/fonts/GODOFWAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-god {
  font-family: 'GodOfWar', sans-serif;
}